In [5]:
import mysql.connector
from mysql.connector import errorcode

import mysql.connector

config = {
  'user': 'admin1',
  'password': 'Vutheanh13241',
  'host': '192.168.1.168',
  'database': 'little_lemon_db',
  'raise_on_warnings': True
}

try:
    cnx = mysql.connector.connect(**config)
    if cnx.is_connected():
        print("Connection established successfully.")
    else:
        print("Connection failed.")
except mysql.connector.Error as err:
    print(f"Error: {err}")

Connection established successfully.

In [6]:
cursor = cnx.cursor()
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)

results = cursor.fetchall()

# Print the results
for table in results:
    print(table)
    
cursor.close()

('bookings',)
('customers',)
('menu',)
('orderdeliverystatus',)
('orders',)
('ordersview',)
('staff',)

True

In [9]:
# Create a cursor
cursor = cnx.cursor()

# Define and execute your query using the cursor
query = """
SELECT Customers.FullName, Customers.ContactNumber, Orders.TotalCost
FROM Customers
JOIN Bookings ON Customers.CustomerID = Bookings.CustomerID
JOIN Orders ON Bookings.OrderID = Orders.OrderID
WHERE Orders.TotalCost > 60
"""

cursor.execute(query)

# Fetch the results
results = cursor.fetchall()

# Print the results
for result in results:
    print(result)

# Close the cursor and the connection
cursor.close()

True